node_modules/
.DS_Store
dist/
dist-exe/
build/
.env
server/uploads/*.mp3
server/uploads/*.png
server/uploads/*.jpg
server/uploads/*.jpeg
server/presets.json
server/settings.json
*.log
client/dist/
client/node_modules/
server/node_modules/
